// Extra large devices (large desktops, 1200px and up)
@media (max-width: $ExtraLargeDevices) {
}

// Large devices (desktops, 992px and up)
@media (max-width: $LargeDevices) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: $MediumDevices) {
  .contactIcon {
    position: absolute;
    bottom: 10%;
    right: 10%;

    .contactContainer {
      width: auto;
    }

    .prePage {
      display: none;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: $SmallDevices) {
  .contactIcon {
    bottom: 10%;
    right: 5%;

    .iconGroup i {
      margin-right: 0.5rem;
      font-size: 1rem;
    }
  }

  .cooperation .cooperationWrap {
    flex-wrap: nowrap;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: $ExtraSmallDevices) {
  .contactIcon {
    bottom: 55%;
    right: 5%;
  }
}
