// Extra large devices (large desktops, 1200px and up)
@media (max-width: $ExtraLargeDevices) {
}

// Large devices (desktops, 992px and up)
@media (max-width: $LargeDevices) {
  .NewsActivity,
  .newsElse,
  .newsTraining {
    li .newsDate {
      width: 100%;
      margin-bottom: 0.5rem;
    }

    li {
      flex-direction: column;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: $MediumDevices) {
}

// Small devices (landscape phones, 576px and up)
@media (max-width: $SmallDevices) {
  .NewsActivity,
  .newsElse,
  .newsTraining {
    .newsList {
      width: 100%;
      border: none;
      margin: 0.5rem auto;
    }
    li,
    .title {
      padding: 1rem 3rem;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: $ExtraSmallDevices) {
}
